{% extends 'articles/base.html' %}

{% block content %}
<h1>Tous les articles</h1>
{% if articles %}
    <ul>
    {% for article in articles %}
        <li>
            <a href="{% url 'article_detail' article.id %}">{{ article.titre }}</a>
            ({{ article.date_creation|date:"d/m/Y" }})
            - <a href="{% url 'article_update' article.id %}">Modifier</a>
            - <a href="{% url 'article_delete' article.id %}">Supprimer</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun article pour le moment.</p>
{% endif %}
{% endblock %}



